<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/hotel"
        android:label="HotelReservation"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Hotel"
        tools:targetApi="31">
        <activity
            android:name=".ScoreboardFragment"
            android:exported="false"
            android:theme="@style/Base.Theme.Hotel" />
        <activity
            android:name=".ReserveActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.Hotel" />
        <activity
            android:name=".AddHotelActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.Hotel" />
        <activity
            android:name=".CommentPlaceActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.Hotel" />
        <activity
            android:name=".SearchActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.Hotel" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDp5KJGyaPWzwlton_QL_1JK0uA-Vfipro" />

        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.Hotel" />
        <activity
            android:name=".SignInActivity"
            android:exported="true"
            android:label="Hotel Reservation"
            android:theme="@style/Base.Theme.Hotel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.Hotel" />
    </application>

</manifest>